<form action="#" method="post" class="form" #UploadForm="ngForm" (ngSubmit)="uploadHandler(UploadForm.value)">
    <div>
        <h1 class="uploadHeaderText">Upload Image</h1>
    </div>

    <!-- <div>
        <progress class={styles.progress} value={progress} max="100" />
    </div> -->

    <div>
        <input type="text" id="inputCaption" name="caption" placeholder="Enter a caption" required ngModel/>
        <label htmlFor="inputCaption">Caption</label>
    </div>

    <div>
        <input type="text" id="inputTags" name="tags" placeholder="Enter a tags" required ngModel/>
        <label htmlFor="inputTags">Tags</label>
    </div>

    <div>
        <input #fileUpload (click)="fileUpload.value = null" (change)="importFile($event)" type="file" id="inputFile" name="fileName" required ngModel/>
<!-- <input #fileUpload type="file" (click)="fileUpload.value = null"(change)="importFile($event)" accept="image/*"> -->
        <label htmlFor="inputFile">File</label>
    </div>

    <button class='btn' [disabled]="UploadForm.invalid">Upload</button>
</form>