<header class="header" *ngIf="showHide">
    <app-logo routerLink='/'></app-logo>
    <div *ngIf="!isLogged">
        <button routerLink='/register'>
            <p>Sign-Up</p>
        </button>
        <button routerLink='/login'>
            <p>Login</p>
        </button>
    </div>
    <div *ngIf="isLogged">
        <button routerLink='/search'>
            <p>Search</p>
        </button>
        <button (click)='signOutHaindler()' type="button">
            <p>Sign-Out</p>
        </button>
    </div>
</header>